{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="column is-one-third">
        <br>
        <h1 class="title">All Users</h1>
        <hr><br>
        <form action="/" method="POST">
            <div class="field">
                <input
                    name="username" class="input"
                    type="text" placeholder="Enter a username" required>
            </div>
            <div class="field">
                <input
                    name="email" class="input"
                    type="email" placeholder="Enter an email address" required>
            </div>
            <input
                type="submit" class="button is-primary is-fullwidth"
                value="submit">
        </form>
        <br>
        <hr>
        {% if users %}
        <ol>
            {% for user in users %}
            <li>{{user.username}}</li>
            {% endfor %}
        </ol>
        {% else %}
        <p>No Users!</p>
        {% endif %}
    </div>
</div>
{% endblock body %}